extends base.pug

block content 
    form(method="POST")
        input(name="Title", placeholder="Title", required, type="text")
        input(name="Description", placeholder="Description", required, type="text")
        input(name="Hashtags", placeholder="Hashtags, separated by comma", required, type="text")
        input(type="submit" value="Upload Video")